// flex
.flex {
  &-1 {
    flex: 1;
  }
  &-initial {
    flex: 0 1 auto;
  }
  &-50 {
    flex: 0 0 50%;
  }
  &-auto {
    flex: 0 0 auto;
  }
}

//flex direction
.flex {
  &-row {
    flex-direction: row;
    &-reverse {
      flex-direction: row-reverse;
    }
  }
  &-col {
    flex-direction: column;
    &-reverse {
      flex-direction: column-reverse;
    }
  }
}

// flex wrap
.flex {
  &-wrap {
    flex-wrap: wrap;
    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}
