.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

.font {
  &-light {
    font-weight: 300;
  }
  &-normal {
    font-weight: normal;
  }
  &-bold {
    font-weight: bold;
  }
}
